/*
---------------------
Week 1 | Day 1
---------------------
*/
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #9a16f0;
  font-size: 12px;
  transition: all 500ms;
  position: relative;
}
a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #9a16f0;
  transition: width 500ms;
  position: absolute;
}
a:hover::after {
  width: 100%;
  transition: width 500ms;
}

p {
  font-size: 14px;
}

ol,
ul {
  font-size: 14px;
  margin-bottom: 8px;
}

ol li,
ul li {
  line-height: 1.5;
}

ol li {
  font-weight: bold;
  color: #344bf1;
}

ul li {
  font-weight: normal;
  color: black;
}

/*
---------------------
Week 1 | Day 2
---------------------
*/
#background {
  background-size: cover;
}

#background.blue {
  background: linear-gradient(114.99deg, #344bf1 24.14%, #2dc5fa 105.44%);
}

#background.purple {
  background: linear-gradient(90.68deg, #3800eb -7.48%, #9a16f0 113.27%);
}

.container {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: unset;
}

.panel {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 400px;
  box-sizing: border-box;
  padding: 20px;
}

#intro > img {
  width: 150px;
  height: auto;
}

#intro h1 {
  text-align: center;
}

a.btn + a {
  background: transparent;
  border: #9a16f0 1px solid;
  border-radius: 9999px;
  padding: 12px 24px;
  color: #9a16f0;
  min-width: 120px;
  text-align: center;
  transition: all 500ms;
}

a.btn + a:hover {
  background: #9a16f0;
  color: white;
  transition: all 500ms;
}

a.btn + a::after {
  content: none;
}

.column {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.column .panel {
  align-items: start;
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    height: 700px;
  }
  .panel {
    min-height: unset;
  }
  #intro > img {
    width: 250px;
  }
}
